:root {
  --color-button-bg: hsl(0, 0%, 20%);
  --color-button-hover: hsl(75, 94%, 57%);
  --color-text: hsl(0, 0%, 100%);
  --color-card-bg: hsl(0, 0%, 12%);
  --color-page-bg: hsl(0, 0%, 8%);
  --main-font: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-page-bg);
  color: var(--color-text);
  font-family: var(--main-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  background-color: var(--color-card-bg);
  padding: 50px;
  border-radius: 12px;
  width: 400px;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  margin: 5px 0;
}

h2 {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-button-hover);
}

.quote {
  font-size: 14px;
  margin-top: 25px;
  font-weight: 300;
}

.container {
  text-align: center;
}

.profile-pic {
  border-radius: 50%;
  margin-bottom: 15px;
}

.btn {
  width: 350px;
  background-color: var(--color-button-bg);
  color: var(--color-text);
  text-decoration: none;
  padding: 13px 0;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: var(--color-button-hover);
  color: var(--color-page-bg);
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 375px) {
  .btn {
    padding: 15px 0;
    width: 300px;
  }

  .quote {
    font-size: 12px;
    font-weight: 4300;
  }

  .card {
    width: 350px;
    height: 630px;
  }

  h1 {
    font-size: 25px;
  }

  img {
    width: 120px;
  }
}

@media (max-width: 1440px) {
  .card {
  }
}
